# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
pyvenv.cfg
.venv
pip-selfcheck.json
pip-log.txt

# Databases
*.db
*.sqlite3

# Environment variables
.env
.flaskenv

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
.dist/
